extends layout

block content
  div
    h1(class="page_title")= title
    
    span
      a(href="stories/create")   Create Story
    p Making stories, one word at a time.
    
  if error
    p(class="error") Error: #{error}
  
  div(class="story_list")
    for story in stories
      div(class="story_item")
        h2
          a(href=story.url)= story.title
        if !story.completed
          strong(style="color: red;") Incomplete
        p= story.fullStory
    else
      p There are no stories.
