extends layout

block content
  p
    a(href="/stories") <--back
  h1(class="page_title")= title
  
  form(method="post")
    | Title:
    input(type="text", name="title")
    input(type="submit", value="create")
    
    if error
      p(class="error") Error: #{error}
